@font-face {
    font-family: 'simpsonfontregular';
    src: url('./assets/css/fonts/simpsonfont_demo-webfont.woff2') format('woff2'), url('./fonts/simpsonfont_demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #70D1FE;
    font-family: simpsonfontregular;
    color: #FED90F;
    text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    background-image: url(assets/images/spring.jpg);
    
}

img {
    max-width: 100%;
    height: auto;
    top: 0px;
}

h1 {
    font-size: 70px;
    margin-bottom: 1%;
}

.center {
    margin: auto;
    margin-top: 2%;
    width: 50%;
    
}

.clearfix {
    overflow: auto;
}

.answer {
    font-size: 20px;
    margin: auto;
    font-weight: bold;
}

.continue{
    font-size: 30px;

}

.container{
    border: 15px solid #FFD90F;
    border-radius: 25px;
    box-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    background-image: url(assets/images/brick.jpg);
    font-size: 20px;
}

button {
    background-color: #70D1FE;
    color: #FED90F;
    text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}


